/* * {
    border: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-size: 2.2rem;
}

strong {
    color: var(--soft-violet);
}

p {
    color: var(--slightly-transp-white-p);
    line-height: 1.5rem;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

svg {
    position: absolute;
}

.hero__container {
  background: var(--dark-desaturated-blue);
  width: 1000px;
  height: 400px;
  display: flex;
}

.hero__image {
  display: flex;
  position: relative;
}

.hero__image img {
  display: flex;
  height: 400px;
  /* https://justcode.today/filters/ */
  -webkit-filter: brightness(65%) contrast(70%) hue-rotate(108deg) saturate(170%) sepia(73%) url(#svgTint);
  filter: brightness(65%) contrast(70%) hue-rotate(108deg) saturate(170%) sepia(73%) url(#svgTint);
}

.text__container {
    padding: 40px 70px 50px 70px;
}

.stats__container {
    display: flex;
    gap: 65px;
}

.stats__number {
    margin-bottom: 0;
}

.stats__title {
    color: var(--slightly-transp-white-h);
    text-transform: uppercase;
    margin-top: 0;
    font-size: 0.8rem;
    font-family: 'Lexend Deca', sans-serif;
}

#image-mobile {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--soft-violet);
}

@media screen and (max-width: 375px) {
  
  html,
  body {
    height: 120%;
    flex-direction: column;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  footer {
    position: relative;
    bottom: 0;
    padding-top: 50px;
  }
  
  .hero__container {
    flex-direction: column-reverse;
    width: 320px;
    height: 770px;
    text-align: center;
  }

  .text__container {
    padding: 20px;
  }

  .hero__text {
    padding: 10px;
    margin-top: 0;
  }

  .hero__image img{
    width: 100%;
    height: 100%;
  }

  .stats__container {
    flex-direction: column;

    gap: 8px;
  }

  #image-desktop {
    display: none;
  }

  #image-mobile {
    display: flex;
  }

}

:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --slightly-transp-white-p: hsla(0, 0%, 100%, 0.75);
  --slightly-transp-white-h: hsla(0, 0%, 100%, 0.6);
}
